/* Service Selection */
.service-option {
    padding: 15px;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.service-option.selected {
    border-color: var(--primary-color);
    background-color: #f0f7ff;
}

.barber-option.selected{
    border-color: var(--primary-color);
    background-color: #f0f7ff;
}
